@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #282828;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  font-size: 20px;
}
body.hide {
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: auto;
}

h1, h2 {
  color: #282828;
  font-size: 3.25em;
  font-weight: 700;
}
h1 span, h2 span {
  color: #e4131d;
}

h3 {
  color: #fff;
  font-size: 1.75em;
  font-weight: 700;
}
h3 span {
  color: #e4131d;
}

h4 {
  color: #282828;
  font-size: 1.25em;
  font-weight: 700;
}
h4 span {
  color: #e4131d;
}

p {
  color: #282828;
  font-size: 1em;
}

.btn {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  padding: 38px 30px;
  font-size: 0.9em;
  font-weight: 700;
  color: #fff;
  background: #e4131d;
  border-radius: 10px;
}

.hero {
  margin-top: 85px;
}

.hero-container {
  padding: 0 80px;
  max-width: 1440px;
  background-image: url("../assets/bg/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  padding-top: 140px;
  padding-bottom: 130px;
  max-width: 740px;
}
.hero-container .hero__content h1, .hero-container .hero__content p, .hero-container .hero__content b {
  color: #fff;
}

.mission {
  margin-top: 180px;
  padding-bottom: 220px;
  overflow: hidden;
}

.mission-container {
  position: relative;
}
.mission-container .mission__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 60px;
  max-width: 740px;
}
.mission-container .mission__img {
  position: absolute;
  top: 0;
  right: -330px;
  width: 780px;
  height: 642px;
}

.smi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 70px;
}
.smi-container .smi__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}
.smi-container .smi__list .smi__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  gap: 12px;
  flex-wrap: wrap;
  width: 195px;
  height: 90px;
}
.smi-container .smi__list .smi__item .item__img {
  width: unset;
  height: unset;
  -o-object-fit: unset;
     object-fit: unset;
}
.smi-container .smi__list .smi__item a {
  font-size: 0.9em;
  color: #282828;
}
.smi-container .smi__list .smi__item a img {
  width: 22px;
  height: 8px;
  margin-left: 12px;
}

.differences {
  margin-top: 180px;
  background-image: url("../assets/bg/differences-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.differences-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  padding-top: 180px;
  padding-bottom: 160px;
}
.differences-container h2,
.differences-container li,
.differences-container b {
  color: #fff;
}
.differences-container h2 {
  width: 50%;
}
.differences-container .differences__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.differences-container .differences__list .differences__item {
  position: relative;
  padding-left: 15px;
}
.differences-container .differences__list .differences__item:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #e4131d;
}

.demand {
  margin-top: 170px;
}

.demand-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: unset;
  flex-wrap: wrap;
}
.demand-container h2 {
  display: block;
  width: 100%;
  font-size: 2em;
  margin-bottom: 80px;
}
.demand-container .demand__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  width: calc(50% - 15px);
}
.demand-container .demand__left .left__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.demand-container .demand__left .left__social .social__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 69px;
  height: 69px;
  border-radius: 10px;
  background-color: #282828;
}
.demand-container .demand__left .left__social .social__item:first-child {
  align-items: end;
}
.demand-container .demand__left .left__social .social__item img {
  width: unset;
  height: unset;
}
.demand-container .demand__right {
  width: calc(50% - 15px);
}

.about {
  background-image: url("../assets/bg/about-bg.png");
  background-size: cover;
  margin-top: 150px;
  padding: 120px 0;
}
.about h3 {
  margin: auto;
  width: 90%;
  text-align: center;
}

.diagramm {
  display: block;
  margin-top: 180px;
}

.diagramm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.diagramm-container h2 {
  text-align: center;
}
.diagramm-container .diagramm__graphic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  border-radius: 20px;
  background-color: #2b2930;
  width: 100%;
  height: 631px;
}
.diagramm-container .diagramm__graphic img {
  margin-top: 70px;
  max-width: 550px;
  max-height: 330px;
}

.cooperation {
  display: block;
  background: #f4f4f4;
  margin-top: 220px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.cooperation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.cooperation-container .cooperation__steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 260px 400px 340px;
  gap: 24px;
  grid-template-areas: "a b" "a c" "d e";
}
.cooperation-container .cooperation__steps .cooperation__step {
  position: relative;
  display: grid;
  justify-content: start;
  align-content: start;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 60px 16px 0 20px;
}
.cooperation-container .cooperation__steps .cooperation__step:first-child {
  overflow: hidden;
  grid-area: a;
}
.cooperation-container .cooperation__steps .cooperation__step:first-child img {
  width: 268px;
  height: 268px;
  position: absolute;
  bottom: -80px;
  right: -24px;
}
.cooperation-container .cooperation__steps .cooperation__step h4 {
  display: inline;
  margin-bottom: 33px;
}
.cooperation-container .cooperation__steps .cooperation__step p {
  font-size: 0.9em;
}
.cooperation-container .cooperation__steps .cooperation__step .btn {
  margin-top: 35px;
}

.neural-network {
  margin-top: 130px;
}

.neural-network-container {
  padding: 150px 0 160px 70px;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
  background-image: url("../assets/bg/neural-network-bg.png");
  background-position: right;
  background-repeat: no-repeat;
}
.neural-network-container h2 {
  max-width: 740px;
}/*# sourceMappingURL=style.css.map */