@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: none;
      color: #282828;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
}
body {
      position: relative;
      font-size: 20px;
      
      &.hide{
            height: 100vh;
            overflow: hidden;
      }
}
img {
      width: 100%;
      height: 100%;
      object-fit: contain;
}
li {
      display: block;
}
a {
      text-decoration: none;
}

@media (max-width: 1024px) {
      body{
            font-size: 18px;
      }
}
@media (max-width: 768px ) {
      body{
            font-size: 12px;
      }
}