.about {
      background-image: url("../assets/bg/noise-bg.png");
      background-size: cover;
      margin-top: 150px;
      padding: 120px 0;

      h3{
            margin: auto;
            width: 90%;
            text-align: center;
      }
}

@media (max-width: 768px) {
      .about {
      margin-top: 80px;
      padding: 60px 0;

}
}