.differences {
      margin-top: 180px;
      background-image: url("../assets/bg/differences-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
}
.differences-container {
      @include flex($just: start, $gap: 30px);
      flex-wrap: wrap;
      padding-top: 180px;
      padding-bottom: 160px;

      h2,
      li,
      b {
            color: #fff;
      }
      h2 {
            width: 540px;
      }
      .differences__list {
            @include flex(column, start, start, 30px);

            .differences__item {
                  position: relative;
                  padding-left: 15px;

                  &:before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 10px;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background: #e4131d;
                  }
            }
      }
}

@media (max-width: 768px) {
      .differences {
            margin-top: 80px;
      }
      .differences-container {
            padding-top: 80px;
            padding-bottom: 70px;

            .differences__list {
                  @include flex(column, start, start, 15px);
            }
      }
}
