.mission {
      margin-top: 180px;
      padding-bottom: 220px;
      overflow: hidden;
}
.mission-container {
      position: relative;
      .mission__content {
            @include flex(column, start, start, 60px);
            max-width: 740px;
      }
      .mission__img {
            position: absolute;
            top: 0;
            left: 740px;
            width: 780px;
            height: 642px;
      }
}

@media (max-width: 768px) {
      .mission {
            margin-top: 80px;
            padding-bottom: 80px;
      }
      .mission-container {
            position: relative;
            .mission__content {
                  gap: 30px;
            }
      }
}
