.neural-network {
      margin-top: 130px;
}
.neural-network-container {
      padding: 150px 0 160px 70px;
      border-radius: 20px;
      background-color: rgb(244, 244, 244);
      background-image: url("../assets/bg/neural-network-bg.png");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;

      h2 {
            max-width: 740px;
      }
}
@media (max-width: 768px) {
      .neural-network {
            margin-top: 70px;
      }
      .neural-network-container {
            padding: 40px 20px 40px 20px;
            border-radius: 20px;

            h2 {
                  max-width: 450px;
            }
      }
}
