.neural-network {
      margin-top: 130px;
}
.neural-network-container {
      padding: 150px 0 160px 70px;
      border-radius: 20px;
      background-color: rgb(244, 244, 244);
      background-image: url("../assets/bg/neural-network-bg.png");
      background-position: right;
      background-repeat: no-repeat;

      h2{
            max-width: 740px;
      }
}
