.test-drive {
      margin-top: 210px;
      background-image: url("../assets/bg/noise-bg.png");
      background-size: cover;
      padding-top: 120px;
      padding-bottom: 130px;
}
.test-drive-container {
      @include flex(column, $gap: 55px);

      h2 {
            font-size: 2.25em;
            max-width: 880px;
      }
      h2,
      p {
            color: #fff;
            text-align: center;
      }
      .test-drive__form {
            width: 100%;
            @include flex($gap: 20px);
            flex-wrap: wrap;

            input {
                  border-radius: 10px;
                  background-color: #7e8082;
                  max-width: 300px;
                  width: 100%;
                  height: 77px;
                  font-size: 0.9em;
                  text-align: center;
                  color: #fff;
            }
            .btn {
                  max-width: 300px;
                  width: 100%;
                  height: 77px;
                  padding: unset;
            }
      }
}

@media (max-width: 768px) {
      .test-drive {
            margin-top: 100px;
            padding-top: 70px;
            padding-bottom: 80px;
      }
      .test-drive-container {
            gap: 30px;

            .test-drive__form {
                  input {
                        max-width: 200px;
                        height: 60px;
                  }
                  .btn {
                        max-width: 200px;
                        height: 60px;
                  }
            }
      }
}
