h1, h2{
      color: #282828;
      font-size: 3.25em;
      font-weight: 700;

      span{
            color: #e4131d;
      }
}
h3{
      color: #282828;
      font-size: 1.75em;   
      font-weight: 700;  

      span{
            color: #e4131d;
      }
}
h4{
      color: #282828;
      font-size: 1.25em;
      font-weight: 700;

      span{
            color: #e4131d;
      }
}